
.statistics {
    border: 1px solid #ccc;
    padding: 20px;
    width: 300px;
    margin: 0 auto;
    background-color: #f4f4f4;
    text-align: center;
  }
  
  .title {
    font-size: 24px;
  }
  
  .stat-list {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .item {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    border-bottom: 1px solid #ccc;
  }
  
  .label {
    font-size: 18px;
    font-weight: bold;
  }
  
  .percentage {
    font-size: 18px;
  }
  